*{
    margin: 0;
    padding: 0;
}
body{
    background: url(https://images.unsplash.com/photo-1519677100203-a0e668c92439);
    background-size: cover;
    height: 100vh;
    cursor: none;
}
h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-family: "Roboto",sans-serif,Arial, sans-serif;
    font-size: calc(20px+2vw);
    font-weight: 700;
    color: #fafafa;
    text-shadow: 2px 2px 2px #000 ;
    pointer-events: none;
    white-space: nowrap;
}
.spotlight{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(circle,transperent 160px,, rgba(0,0,0,0.85)200px
    );
}